@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <div class="container text-center mt-5">
            <h1>Welcome to Screen Capture</h1>

            <p class="mt-3">Please <a class="link-primary" href="Identity/Account/Login">Log in</a> to use the application.</p>
        </div>
    </NotAuthorized>
    <Authorized>
        <RemoteAgentsDisplayer />
    </Authorized>
</AuthorizeView>
