@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the Screen Capture web application</h1>

<AuthorizeView>
    <Authorized>
        TODO app description
    </Authorized>
    <NotAuthorized>
        <text>Please <a class="link-primary" href="Identity/Account/Register">Register</a> or <a class="link-primary" href="Identity/Account/Login">Log in</a> to use the application.</text>
    </NotAuthorized>
</AuthorizeView>
