@using Core.Domain;
@if(Info == null)
{
    <ErrorCard ErrorText="The screenshot has not been loaded correctly" />
}
else
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/media/screenshot/@Info.Name" alt="@Info.Name" @onclick="RaiseOnClickNotification">
        <p class="card-text">
            <i class="bi bi-chevron-left" /><strong>@(Info.Metadata?.CaptureMachine)</strong><i class="bi bi-chevron-right" /> - @Info.Name
        </p>
    </div>
}



@code {
    [Parameter] public MediaInfo<Metadata>? Info { get; set; }
    [Parameter] public EventCallback<MediaInfo<Metadata>?> OnClick { get; set; }
    private Task RaiseOnClickNotification()
    {
        return OnClick.InvokeAsync(Info);
    }
}
