@using Core.Domain;
@if(Info == null)
{
    <ErrorCard ErrorText="The screenshot has not been loaded correctly" />
}
else
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/media/screenshot/@Info.Name" alt="@Info.Name" @onclick="RaiseOnClickNotification">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Name:</strong> @Info.Name</li>
            <li class="list-group-item"><strong>Source:</strong> @Info.Metadata?.CaptureMachine</li>
        </ul>
    </div>
}



@code {
    [Parameter] public MediaInfo<Metadata>? Info { get; set; }
    [Parameter] public EventCallback<MediaInfo<Metadata>?> OnClick { get; set; }
    private Task RaiseOnClickNotification()
    {
        return OnClick.InvokeAsync(Info);
    }
}
