@using Core.Configurations;

@if (Setting == null)
{
    <text>The setting has not been configured correctly.</text>
}
else
{
    <div>
        <div>
            <strong>@Setting.Name</strong>  
            @Setting.DefaultValue
        </div>
        <div class="mt-3">
            <p>@Setting.Description</p>
        </div>
    </div>
}

@code {
    [Parameter] public Setting? Setting { get; set; }


}
