@using Core.Configurations;

@if(Group == null)
{
    <text>The group has not been configured correctly.</text>
}
else
{
    <div role="group">
        <h4>@Group.Name</h4>
        <hr class="border border-2 border-dark opacity-50" />

        @foreach(var setting in Group.Settings)
        {
            <div class="mt-4">
                <CascadingValue Value="ChildComponents">
                    <SettingDisplayer GroupName="@Group.Name" Setting="setting"/>
                </CascadingValue>
            </div>
            <hr />
        }

    </div>
}

@code {

    [CascadingParameter] public Dictionary<string, SettingsGroupDisplayer>? SiblingComponents { get; set; }
    [Parameter] public SettingsGroupConfiguration? Group { get; set; }
    public Dictionary<string, SettingDisplayer> ChildComponents { get; set; } = new();

    protected override void OnInitialized()
    {
        if (Group == null)
        {
            return;
        }

        if (SiblingComponents != null)
        {
            SiblingComponents.Add(Group.Name, this);
        }

        base.OnInitialized();
    }
}
