@using Core.Domain;
@if (Info == null)
{
    <ErrorCard ErrorText="The video has not been loaded correctly" />
}
else
{
    <div class="card" style="width: 30rem;">
        @*TODO investigate why seek is not working*@
        <video style="max-width: 100%;" controls controlslist="nodownload">
            <source src="/media/video/@Info.Name" type="video/@Info.Metadata?.Type">
        </video>
        <p class="card-text">
            <i class="bi bi-chevron-left"/><strong>@(Info.Metadata?.CaptureMachine)</strong><i class="bi bi-chevron-right" /> - @Info.Name
        </p>
    </div>
}



@code {
    [Parameter] public MediaInfo<VideoMetadata>? Info { get; set; }
}
