@*Disabled register page as suggested by the documentation:
https://learn.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-7.0&tabs=visual-studio#disable-a-page*@

@page
@attribute [IgnoreAntiforgeryToken]
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Go to Login";
}

<h1>@ViewData["Title"]</h1>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
</li>


@functions {

    public IActionResult OnGet()
    {
        if (SignInManager != null && SignInManager.IsSignedIn(User))
        {
            return Redirect("/");
        }

        return RedirectToPage("Login");
    }

    public IActionResult OnPost()
    {
        if (SignInManager != null && SignInManager.IsSignedIn(User))
        {
            return Redirect("/");
        }

        return RedirectToPage("Login");
    }
}